{% extends "simpleblogapp/base.html" %}
{% load staticfiles %}


{% block main_block %}
            <h1></h1>
    <!-- Footer -->
    <footer id="footer">
                <section>

                    {% if message %}
                    <h4>Messages</h4>
                    <div class="box">
                        <p>{{ message }}</p>
                    </div>
                    {% endif %}

                    <form method="post" action="/simpleblogapp/login">
                        {% csrf_token %}
                        <div class="field">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>

                        <div class="field">
                            <label for="password">Password</label>
                            <input type="text" name="password" id="password" />
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Log In" /></li>
                            <li><a href="/simpleblogapp/registration" class="button">Registrationt</a></li>

                        </ul>
                    </form>
                </section>
            </footer>

        <!-- Copyright -->
            <div id="copyright">
                <ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
            </div>
{% endblock %}
